<script setup lang="ts">
import { useStore } from '../store'
import { ref, watchEffect } from 'vue'
import { lowerbound } from '../util'

const props = defineProps<{
  itemSize: Number,
  items: ArrayLike<number>,
}>()

const store = useStore()
const scroller = ref(null)

watchEffect(() => {
  scroller?.value?.scrollToItem(lowerbound(props.items, store.scrollIndex))
})
</script>

<template>
  <RecycleScroller ref="scroller" :item-size="itemSize" :items="items">
    <template v-slot="slot">
      <slot v-bind="slot"></slot>
    </template>
  </RecycleScroller>
</template>
