<script setup lang="ts">
import { useStore } from '../store'
import registers from '../registers/gfx10.json'
import RawEventView from './RawEventView.vue'
import { toRef } from 'vue'

const store = useStore()

const stages = ['ps0', 'vs', 'gs', 'es', 'hs', 'ls', 'cs', 'ps1', 'ps2', 'ps3']

function cvtReg (reg: number) {
  if (reg >= 0xa000 && reg < 0xc000) {
    reg = 0xa000 + (reg - 0xa000) % 0x400
  }
  return reg
}

function regContext (reg: number) {
  if (reg >= 0xa000 && reg < 0xc000) {
    return `(Context ${Math.floor((reg - 0xa000) / 0x400)})`
  }
  return null
}

const initiatorType = ['event', 'draw', 'dispatch']

function printIntiatorValue (type: number, val: number) {
  switch (type) {
    case 0:
      return registers.enums['VGT_EVENT_TYPE'][val]
    case 1:
    default:
      return val.toString(16)
  }
}

const profile = toRef(store, 'loadedProfile')
</script>

<template>
  <div class="register-layout">
    <div class="pane">
      <p>{{ profile?.sqttChunks[0].regWrites.reg.length }}</p>
      <RawEventView
          class="scroller"
          :items="profile?.sqttChunks[0].regWrites.seq || []"
          :item-size="24"
          v-slot="{ item, index }"
      >
        <div style="height: 24px; grid-template-columns: 5em 1em 4em 6em 22.5em 1fr auto" class="row" :class="index % 2 === 0 && 'row-odd'">
          <div>{{ item }}</div>
          <div>{{ profile?.sqttChunks[0].regWrites.isWrite[index] ? 'W' : 'R' }}</div>
          <div>{{ profile?.sqttChunks[0].regWrites.reg[index].toString(16) }}</div>
          <div>{{ profile?.sqttChunks[0].regWrites.val[index].toString(16) }}</div>
          <div>{{ registers.regs[cvtReg(profile?.sqttChunks[0].regWrites.reg[index]) * 4] || 'Unknown' }}</div>
          <div>{{ regContext(item) }}</div>
          <button @click="() => store.scrollEvents(item)"><span class="material-symbols-outlined">sync_alt</span>
          </button>
        </div>
      </RawEventView>
    </div>
    <div class="pane">
      <p>Draw: {{ profile?.sqttChunks[0].initiators.initiatorType.filter((x) => x === 1).length }}</p>
      <p>Dispatch: {{ profile?.sqttChunks[0].initiators.initiatorType.filter((x) => x === 2).length }}</p>
      <RawEventView
          class="scroller"
          :items="profile?.sqttChunks[0].initiators.seq || []"
          :item-size="24"
          v-slot="{ item, index }"
      >
        <div style="height: 24px; grid-template-columns: 8ch 2ch 2ch 10ch 32ch 1fr auto" class="row"
             :class="index % 2 === 0 && 'row-odd'">
          <div>{{ profile?.sqttChunks[0].initiators.seq[index] }}</div>
          <div>{{ profile?.sqttChunks[0].initiators.a0[index] }}</div>
          <div>{{ profile?.sqttChunks[0].initiators.a1[index] }}</div>
          <div>{{ initiatorType[profile?.sqttChunks[0].initiators.initiatorType[index]] }}</div>
          <div>{{
              printIntiatorValue(profile?.sqttChunks[0].initiators.initiatorType[index], profile?.sqttChunks[0].initiators.val[index] & 0xfffff)
            }}
          </div>
          <div>{{ profile?.sqttChunks[0].initiators.context[index].toString(16) }}</div>
          <button @click="() => store.scrollEvents(item)"><span class="material-symbols-outlined">sync_alt</span>
          </button>
        </div>
      </RawEventView>
    </div>
    <div class="pane">
      <p>PS S: {{
          profile?.sqttChunks[0].eventA.stage.filter((x) => x === 0 || x >= 7).length
        }}</p>
      <p>VS S: {{
          profile?.sqttChunks[0].eventA.stage.filter((x) => x === 1).length
        }}</p>
      <p>GS S: {{
          profile?.sqttChunks[0].eventA.stage.filter((x) => x === 2).length
        }}</p>
      <p>HS S: {{
          profile?.sqttChunks[0].eventA.stage.filter((x) => x === 4).length
        }}</p>
      <p>CS S: {{
          profile?.sqttChunks[0].eventA.stage.filter((x) => x === 6).length
        }}</p>
      <RawEventView
          class="scroller"
          :items="profile?.sqttChunks[0].eventA.seq || []"
          :item-size="24"
          v-slot="{ item, index }"
      >
        <div style="height: 24px; grid-template-columns: 5em 8em 6em 2em 1fr auto" class="row" :class="index % 2 === 0 && 'row-odd'">
          <div>{{ profile?.sqttChunks[0].eventA.seq[index] }}</div>
          <div>{{ stages[profile?.sqttChunks[0].eventA.stage[index]] }}</div>
          <div>{{ profile?.sqttChunks[0].eventA.a0[index].toString(16) }}</div>
          <div>{{ profile?.sqttChunks[0].eventA.selector[index].toString(16) }}</div>
          <div>{{ profile?.sqttChunks[0].eventA.b0[index].toString(16) }}</div>
          <button @click="() => store.scrollEvents(item)"><span class="material-symbols-outlined">sync_alt</span>
          </button>
        </div>
      </RawEventView>
    </div>
    <div class="pane">
      <p>PS E: {{
          profile?.sqttChunks[0].eventB.stage.filter((_,i)=>profile?.sqttChunks[0].eventB.a0[i]===0).filter((x) => x === 0 || x >= 7).length
        }}</p>
      <p>VS E: {{
          profile?.sqttChunks[0].eventB.stage.filter((_,i)=>profile?.sqttChunks[0].eventB.a0[i]===0).filter((x) => x === 1).length
        }}</p>
      <p>GS E: {{
          profile?.sqttChunks[0].eventB.stage.filter((_,i)=>profile?.sqttChunks[0].eventB.a0[i]===0).filter((x) => x === 2).length
        }}</p>
      <p>HS E: {{
          profile?.sqttChunks[0].eventB.stage.filter((_,i)=>profile?.sqttChunks[0].eventB.a0[i]===0).filter((x) => x === 4).length
        }}</p>
      <p>CS E: {{
          profile?.sqttChunks[0].eventB.stage.filter((_,i)=>profile?.sqttChunks[0].eventB.a0[i]===0).filter((x) => x === 6).length
        }}</p>
      <RawEventView
          class="scroller"
          :items="profile?.sqttChunks[0].eventB.seq || []"
          :item-size="24"
          v-slot="{ item, index }"
      >
        <div class="row" style="height: 24px;grid-template-columns: 5em 8em 2em 2em 2em 1fr auto;" :class="index % 2 === 0 && 'row-odd'">
          <div>{{ profile?.sqttChunks[0].eventB.seq[index] }}</div>
          <div>{{ stages[profile?.sqttChunks[0].eventB.stage[index]] }}</div>
          <div>{{ profile?.sqttChunks[0].eventB.a0[index].toString(16) }}</div>
          <div>{{ profile?.sqttChunks[0].eventB.a1[index].toString(16) }}</div>
          <div>{{ profile?.sqttChunks[0].eventB.selector[index].toString(16) }}</div>
          <div>{{ profile?.sqttChunks[0].eventB.b0[index].toString(16) }}</div>
          <button @click="() => store.scrollEvents(item)"><span class="material-symbols-outlined">sync_alt</span>
          </button>
        </div>
      </RawEventView>
    </div>
  </div>
</template>

<style scoped>
p {
  margin: 0;
}

.register-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  height: 80vh;
  align-items: stretch;
}

.pane {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.scroller {
  flex: 1;
}

.row {
  font-family: monospace;
  display: grid;
  align-items: center;
  gap: 4px;
}

.row:hover {
  background-color: #eee;
}

.row-odd {
  background-color: #f4f4f4;
}

button {
  padding: 0;
  border: none;
  background: none;
}
</style>
