<script setup lang="ts">
import { useStore } from '../store'
import RawEventView from './RawEventView.vue'

const store = useStore()

const stages = ["ps0", "vs", "gs", "es", "hs", "ls", "cs", "ps1", "ps2", "ps3"]

function convertThreadCount(n: number) {
  return n >= 95 ? n - 95 : n
}
function isWave64(n: number) {
  return n < 95
}
</script>

<template>
  <div class="twocol">
    <div>
      <p>{{ store.loadedProfile?.sqttChunks[0].waveS.a0.length }}</p>
      <p>PS: {{ store.loadedProfile?.sqttChunks[0].waveS.stage.filter((x) => x === 0 || x >= 7).length }}</p>
      <p>GS: {{ store.loadedProfile?.sqttChunks[0].waveS.stage.filter((x) => x === 2).length }}</p>
      <p>CS: {{ store.loadedProfile?.sqttChunks[0].waveS.stage.filter((x) => x === 6).length }}</p>
      <RawEventView
          class="scroller"
          :items="store.loadedProfile?.sqttChunks[0].waveS.seq || []"
          :item-size="24"
          v-slot="{ item, index }"
      >
        <div style="height: 24px" class="row">
          <span>{{ item }}</span>
          <span>{{ store.loadedProfile?.sqttChunks[0].waveS.a0[index] }}</span>
          <span>{{ store.loadedProfile?.sqttChunks[0].waveS.a1[index] }}</span>
          <span>{{ store.loadedProfile?.sqttChunks[0].waveS.a2[index] }}</span>
          <span>{{ store.loadedProfile?.sqttChunks[0].waveS.a3[index] }}</span>
          <span>{{ stages[store.loadedProfile?.sqttChunks[0].waveS.stage[index]] }}</span>
          <span>{{ convertThreadCount(store.loadedProfile?.sqttChunks[0].waveS.threads[index]) }}</span>
        </div>
      </RawEventView>
    </div>
    <div>
      <p>{{ store.loadedProfile?.sqttChunks[0].waveAe.a0.length }}</p>
      <p>Alloc: {{ store.loadedProfile?.sqttChunks[0].waveAe.isEnd.filter((x) => !x).length }}</p>
      <p>End: {{ store.loadedProfile?.sqttChunks[0].waveAe.isEnd.filter((x) => x).length }}</p>
      <RawEventView
          class="scroller"
          :items="store.loadedProfile?.sqttChunks[0].waveAe.seq || []"
          :item-size="24"
          v-slot="{ item, index }"
      >
        <div style="height: 24px" class="row2">
          <span>{{ store.loadedProfile?.sqttChunks[0].waveAe.seq[index] }}</span>
          <span>{{ store.loadedProfile?.sqttChunks[0].waveAe.isEnd[index] ? "E" : "A" }}</span>
          <span>{{ store.loadedProfile?.sqttChunks[0].waveAe.a0[index] }}</span>
          <span>{{ store.loadedProfile?.sqttChunks[0].waveAe.a1[index] }}</span>
          <span>{{ store.loadedProfile?.sqttChunks[0].waveAe.a2[index] }}</span>
          <span>{{ store.loadedProfile?.sqttChunks[0].waveAe.a3[index] }}</span>
        </div>
      </RawEventView>
    </div>
  </div>
</template>

<style scoped>
.twocol {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.scroller {
  height: 600px;
}

.row {
  display: grid;
  grid-template-columns: 4em 2em 2em 2em 2em 2em 1fr;
}

.row2 {
  display: grid;
  grid-template-columns: 4em 2em 2em 2em 2em 1fr;
}
</style>
