<script setup lang="ts">
import { useStore } from './store'
import { ref } from 'vue'
import Register from './components/Register.vue'
import Wave from './components/Wave.vue'

const store = useStore()

const filepicker = ref(null)

const activeTab = ref('register')

async function fileChange () {
  const blob = await filepicker.value.files.item(0).arrayBuffer()
  store.load(blob)
}
</script>

<template>
  <input type="file" ref="filepicker" @change="fileChange">
  <fast-tabs v-model="activeTab">
    <fast-tab id="register">
      Register
    </fast-tab>
    <fast-tab id="waves">
      Waves
    </fast-tab>
    <fast-tab-panel>
      <Register />
    </fast-tab-panel>
    <fast-tab-panel>
      <Wave />
    </fast-tab-panel>
  </fast-tabs>
</template>
